// grey Color:
$color-grey-dark: grey;
$color-grey-light: #ccc;

// Black color:
$color-black-dark: #333;

// White color:
$color-white-dark: #fff;
$color-white-light: rgba(221, 221, 221, 0.9);

// Blue color:
$color-blue-dark: rgba(40, 44, 50, 1);

// Box-shadow:
$card-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
