.home {
  width: 100%;
  min-height: 90vh;
  margin-top: 10vh;
  padding: 2.5rem;
  background-color: $color-blue-dark;
  &__heading {
    font-size: 4rem;
    color: $color-grey-light;
    margin-top: 3rem;
    margin-left: 5rem;
    margin-bottom: -3rem;
  }
}
.movies {
  width: 85%;
  margin: 5rem auto;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.btn-left {
  font-size: 4rem;
  color: $color-white-light;
  cursor: pointer;
}

.btn-right {
  font-size: 4rem;
  color: $color-white-light;
  cursor: pointer;
}

@media screen and (max-width: 1020px) {
  .movies {
    width: 100%;
  }
}
