.home-screen {
  width: 100%;
  min-height: 90vh;
  margin-top: 10vh;
  padding: 3rem;
  @include centering;
  flex-direction: column;
  background-color: $color-blue-dark;

  &__movies {
    display: flex;
  }

  &__series {
  }
}

.home-card {
  background-color: $color-black-dark;
  height: 50rem;
  width: 80%;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: $card-shadow;

  h2 {
    font-size: 4rem;
    color: $color-grey-light;
  }

  &:not(:first-child) {
    margin-top: 5rem;
  }
}
