.movieDetails {
  min-height: 90vh;
  width: 100%;
  margin-top: 10vh;
  background-color: $color-blue-dark;
  @include centering;
}

.detailCard {
  width: 60%;
  height: 45rem;
  background-color: $color-grey-light;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: $card-shadow;

  &__image {
    width: 60%;
    object-fit: cover;

    img {
      height: 45rem;
      width: 100%;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.8rem 1rem;
  }
}

@media screen and (max-width: 1080px) {
  .detailCard {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .detailCard {
    height: 35rem;
    &__image {
      width: 65%;
      img {
        height: 35rem;
      }
    }
    &__content {
      padding: 0.4rem 0.5rem;
    }
  }
}

@media screen and (max-width: 690px) {
  .detailCard {
    height: 28rem;
    &__image {
      height: 28rem;
      img {
        height: 28rem;
      }
    }

    &__content {
      padding: 0.3rem;
    }
  }
}
